<div class="container-fluid fixed-top bg-dark">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
        <!-- <i class="zmdi zmdi-view-carousel zmdi-hc-2x mr-2 text-white"></i>
        <a class="navbar-brand" href="#">SOME</a> -->
        <a class="navbar-brand">
            <i class="zmdi zmdi-view-carousel zmdi-hc-1x text-white"></i> SOME
        </a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <app-bnlogin></app-bnlogin>
            </li>
        </ul>
    </nav>
</div>