.left-sidebar {
    position: absolute;
    width: 250px;
    height: 93%;
    top: 0px;
    z-index: 10;
    padding-top: 64px;
    background: #fff;
    -webkit-box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08)
}


/* .scroll-sidebar {
    height: calc(100% - 20px);
    position: relative;
} */