<!-- <p>{{datos |json}}</p> -->
<!-- <p>heroe works!</p> -->
<h1 *ngIf="data.data.id!=='new'">{{data.name}}<small> - Actualizar registro</small></h1>
<h1 *ngIf="data.data.id==='new'">{{data.name}}<small> - Nuevo registro</small></h1>
<hr>
<!-- <div class="row text-right">
    <div class="col ">
        <button class="btn btn-danger" routerLink="/heroes">
    <i class="fa fa-arrow-left"></i>
    Regresar
  </button>
    </div>
</div> -->
<div class="row animated fadeIn faster">
    <div class="col">
        <form (ngSubmit)="guardar(f)" #f="ngForm">
            <div *ngFor="let thead of crudModel.theads ; let i=index" class="form-group">
                <ng-container *ngIf="visualizar(thead)">
                    <label>{{thead.label}}</label>
                    <input *ngIf="thead.type==='ObjectID'" [required]="thead.required" type="text" class="form-control" [disabled]="thead.disable" [placeholder]="thead.label" [name]="thead.name" [(ngModel)]="datos[thead.name]">
                    <input *ngIf="thead.type==='text'" [required]="thead.required" type="text" class="form-control" [disabled]="thead.disable" [placeholder]="thead.label" [name]="thead.name" [(ngModel)]="datos[thead.name]">
                    <input *ngIf="thead.type==='datetime'" [required]="thead.required" type="datetime" datetime="yyyy-MM-dd HH:mm:ss" type="text" class="form-control" [disabled]="thead.disable" [placeholder]="thead.label" [name]="thead.name" [(ngModel)]="datos[thead.name]">
                    <input *ngIf="thead.type==='date'" [required]="thead.required" type="date" datetime="yyyy-MM-dd" type="text" class="form-control" [disabled]="thead.disable" [placeholder]="thead.label" [name]="thead.name" [(ngModel)]="datos[thead.name]">
                </ng-container>
                <!-- <small class="form-text text-muted">Este campo es atogenerado</small> -->
            </div>
            <div class="form-group" *ngIf="crudModel.theads.length>cArray(datos)">
                <label>Nuevo Campo</label>
                <div class="form-control align-content-center">
                    <select id="newc" class="w-75 border-0" (change)="fSelected($event.target.value)">
                      <option  value="" selected></option>
                      <ng-container *ngFor="let thead of crudModel.theads ; let i=index" class="form-group">
                        <option *ngIf="Otros(thead)" [value]="thead.name">{{thead.label}}</option>
                      </ng-container>
                    </select>
                    <!-- <input class="w-50 border-0" type="text" name="" id=""> -->
                    <input *ngIf="ncs!=''" class="w-25 border-0" type="button" value="Add" (click)="newCampo(this.$event)">
                </div>
            </div>
            <div class="form-group">
                <button [disabled]="f.invalid" type="submit" class="btn btn-primary w25">
                  <i class="fa fa-save"></i>
                  Guardar
                </button>
            </div>
        </form>
    </div>

</div>
