<div class="container-fluid float-left">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <div class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Operaciones
                <div class="zmdi zmdi-close-circle zmdi-hc-1x ml-2 text-danger"></div>
            </div>
            <div class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">HHRR
                <div class="zmdi zmdi-close-circle zmdi-hc-1x ml-2 text-danger"></div>
            </div>
            <div class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Mantenimiento
                <div class="zmdi zmdi-close-circle zmdi-hc-1x ml-2 text-danger"></div>
            </div>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <h2>Operaciones</h2>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste sed, perspiciatis nam nostrum reiciendis fugit eveniet hic earum dignissimos totam laudantium qui exercitationem vitae, illum numquam, debitis error corporis accusantium!
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <h2>rrhh</h2>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste sed, perspiciatis nam nostrum reiciendis fugit eveniet hic earum dignissimos totam laudantium qui exercitationem vitae, illum numquam, debitis error corporis accusantium!
        </div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <h2>Mantenimiento</h2>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste sed, perspiciatis nam nostrum reiciendis fugit eveniet hic earum dignissimos totam laudantium qui exercitationem vitae, illum numquam, debitis error corporis accusantium!
        </div>

    </div>
</div>
