.float-left {
    float: right;
    margin-top: 17px;
    margin-left: 237px;
    width: fit-content;
}

.nav-tabs .nav-link.active {
    background: black;
    color: white;
    /* border-bottom: 1px solid white; */
}

.nav-tabs {
    font-size: small;
    /* border-bottom: 1px solid black; */
}

.nav-link {
    background: rgba(46, 46, 46, 0.90);
    color: rgba(128, 125, 125, 1);
    padding: 0.2rem 1rem;
    border-radius: 1px;
    border-top: 1px solid rgba(8, 8, 8, 0.91);
    border-right: 1px solid rgba(8, 8, 8, 0.91);
    border-bottom: 1px solid black;
    ;
}
